
/* =======================
   Card
======================= */
.card {


  /* ✨ Shadow جميل وناعم */
  box-shadow: 0px 10px 25px rgba(2, 107, 152, 0.3);

  transition: all 0.3s ease;
  text-align: center;
}

/* .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 14px 35px rgba(2, 107, 152, 0.18);
} */

