.floatingBtn {
  
  position: fixed;
  top: 20px;
  right: 20px;

  width: 56px;
  height: 56px;

  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);

  background: #052755;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  z-index: 1000;

  /* ✨ شكل احترافي */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);

  transition: all 0.25s ease;
}

.floatingBtn:hover {
  transform: scale(1.08);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
}
.floatingBtn:active {
  transform: scale(0.95);
}
/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 999;
}

/* Sidebar */
.sidebar {
  direction: ltr;
  position: fixed;
  top: 0;
  left: -100%;
  width: 65%; /* أقل من الأول */
  max-width: 280px; /* مهم جدًا */
  height: 100vh;
  background: white;
  transition: 0.4s ease;
  padding: 20px;
  z-index: 1000;
  color: #052755;

  /* ✨ شكل احترافي */
  border-top-right-radius: 30px;
}

/* open */
.open {
  left: 0;
}

/* زرار الإغلاق */
.closeBtn {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 25px;
}

/* list */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 18px 0;
}

/* links + buttons */
.sidebar a,
.sidebar button {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #052755;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

/* hover */
.sidebar a:hover,
.sidebar button:hover {
  background: rgba(5, 39, 85, 1);
  color: white;
}

/* icons */
.sidebar svg {
  font-size: 18px;
}
